@import '../../styles/variables';
@import '../../styles/mixings';


.getstarted-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1 {
        font-size: 2.5rem;
        color:white;
        font-weight: 700;
    }

    button {
        width: 300px;
        height: $height-shortenitems;
        border: none;
        border-radius: $borderRadiosButton;
        cursor: pointer;
        background-color: $color-Cyan;
        color: white;
        font-weight: bold;
        font-size: 16px;
        margin-top: 15px;
        transition: opacity 0.3s ease-in-out;

        &:hover {
            opacity: 0.8;
        }
    }

    @include media-mobile {
        h1 {
            font-size: 2rem;
            text-align: center;
        }
    }
}