@import './variables';
@import './mixings';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;

    li {
        margin: 0 15px;
        list-style: none;
        margin: 0;
    }
}

li {
    list-style: none;
}

body {
    font-family: $fontFamily;
}

.container-main {
    // border: 5px orangered solid;
    width: $width-container;
    margin: 0 auto;
    padding: 1px 10%;

    @include media-tablet {
        padding: 1px 3%;
        // margin: 1px 15px;
        // background-color: rgba(127, 88, 16, 0.645);
        width: 100%;
    }
}

.container-main1 {
    // border: 5px orangered solid;
    width: $width-container;
    margin: 0 auto;
    padding: 1px 10%;
    background-color: $color-Blue-Light;

    @include media-tablet {
        padding: 1px 3%;
        // margin: 1px 15px;
        // background-color: rgba(127, 88, 16, 0.645);
        width: 100%;
    }
}

.container-main2 {
    // border: 5px orangered solid;
    width: $width-container;
    margin: 0 auto;
    padding: 1px 10%;
    background: url('/images/bg-boost-desktop-1.svg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;

    @include media-tablet {
        padding: 1px 3%;
        // margin: 1px 15px;
        // background-color: rgba(127, 88, 16, 0.645);
        width: 100%;
    }
}

.container-main3 {
    // border: 5px orangered solid;
    width: $width-container;
    margin: 0 auto;
    padding: 1px 10%;
    background-color: $color-Very-Dark-Blue;
    min-height: 200px;

    @include media-tablet {
        padding: 1px 3%;
        // margin: 1px 15px;
        // background-color: rgba(127, 88, 16, 0.645);
        width: 100%;
    }
}